h1, h2, h3 {
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:-1px;
	margin-bottom:10px;
}

p {
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-size:14px;
	line-height:1.5;
	margin-bottom:20px;
}

ul, ol {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 20px;
}

li {
	margin-left: 40px;
}

ol {
    list-style: decimal;
}

a:link {
	color:#0066CC;
}

a:visited {
	color:#743399;
}

a:active, a:hover {
	color: #FF4B33;
}

.wp-caption {
	background: #ffffff;
	border: 1px solid #e1e1e1;
	float: none;
	padding: 5px;
	margin-bottom: 20px;
	overflow: hidden;
}

.wp-caption-text, .wp-caption img {
	float: left;
}

.wp-caption-text {
	font-style:italic;
	margin:10px;
}
